.upgradesDrawer,
.coinagesDrawer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.upgradeDrawer,
.coinageDrawer {
  background-color: aqua;
  flex-basis: 100px;
  flex-shrink: 0;

  padding: .5em;
}

.upgradesDrawer {}

.upgradeDrawer {
  background-color: lightgreen;
  flex-basis: 200px;
}

/* ----- ----- */
.storysDrawer {}

.storyDrawer {
  background-color: lightcoral;
}

/* ----- ----- */