
.overlay
{
  height:0px;
  overflow:visible;
  pointer-events:none;
  background:none !important;
}

.ui-item
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui-item > img
{
  position: absolute;
  bottom: 0;
}