.configpanel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  translate: 0;
  transition: translate 0.3s ease-in-out;
  max-width: 20vw;
}

.configpanel--closed {
    translate: 100% 0;
}

.toggle-button {
    position: absolute;
    top: 50vh;
    transform: translate(-100%, -50%);
    left: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 1rem .25rem;
    border-radius: 4px 0 0 4px;
}