.mainmenu {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;

}